allow priv_app device:dir { open read };
allow priv_app mkfs_exec:lnk_file { getattr };
allow priv_app proc_interrupts:file { open read };;
allow priv_app rfs_system_file:dir { getattr };
