<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="org.omnirom.device"
    android:sharedUserId="android.uid.system" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26" />
    <application
        android:label="@string/advanced_settings"
        android:theme="@style/AppTheme"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:replace="android:appComponentFactory"
        android:supportsRtl="true"
	android:persistent="true">
        <activity
            android:name="org.omnirom.device.DeviceSettingsActivity"
            android:exported="false"
            android:label="@string/advanced_settings"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

         <receiver android:name="org.omnirom.device.Startup" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    
       <activity-alias
            android:name="org.omnirom.device.DeviceSettings"
            android:exported="true"
            android:label="@string/advanced_settings"
            android:targetActivity="DeviceSettingsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name="Settings$ButtonBrightnessSettingsActivity"
                  android:label="@string/button_backlight_title"
                  android:taskAffinity="com.android.settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="org.omnirom.omnigears.ButtonBrightnessSettings" />
        </activity>

	<activity
        android:name="org.omnirom.device.DisplayCalibration"
        android:exported="true"
        android:label="@string/kcal_title" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
	</activity>

        <service
            android:name=".DiracService"
            android:enabled="true"
            android:stopWithTask="false" />
    </application>
</manifest>
